.navContainer {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.navItem {
  cursor: pointer;
  padding: 12px 36px;
  font-size: 18px;
}

.navItem:first-child {
  border-bottom: 1px solid #fff;
}

.active {
  background: #fff;
  color: #000;
}
