.mainLayoutContainer {
  position: relative;

  height: 100%;
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-columns: 245px 1fr;
  grid-template-rows: 72px 1fr;
}
