.navItem {
  display: flex;
  gap: 12px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  padding: 8px;
  border-radius: 2px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.navItem:hover {
  background-color: #f8f8f8;
  color: #000;
}

.active {
  background-color: #f8f8f8;
  color: #000;
}

@media screen and (max-width: 490px) {
  .navItem {
    font-size: 14px;
  }
}
