.formContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background: #fff;
  color: #000;
  padding: 16px;
}

.submitBtn {
  margin-top: 16px;
  cursor: pointer;
  border: 1px solid;
}
