.topbarContainer {
  display: block;
  padding: 24px 32px;
  box-sizing: border-box;
  border-radius: 10px;
}

.contentList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentItem {
  font-size: 22px;
  flex: 1;
  text-align: center;
}

.contentItem:first-child {
  text-align: left;
}

.contentItem:last-child {
  text-align: right;
}
