.createUserContainer {
  display: flex;
  justify-content: space-between;
  gap: 72px;
}

.usersWrapper {
  flex: 5;
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid #fff;
}

.createUserFormWrapper {
  flex: 3;
}
