.createBtn {
  padding: 12px 18px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  border-radius: 0px 6px;
  background: #fff;
}

.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
